/**
 * OpenZiti project-specific CSS overrides.
 * Base styling comes from @netfoundry/docusaurus-theme
 */
@import "@netfoundry/docusaurus-theme/css/legacy.css";
@import "@netfoundry/docusaurus-theme/css/tabs-v8-float.css";

/* OpenZiti uses Discourse icon with custom path */
.header-discourse-link::before {
  background: url('/img/discourse_icon.svg') no-repeat;
}
[data-theme="dark"] .header-discourse-link::before {
  background: url('/img/discourse_icon.svg') no-repeat;
}

/* OpenZiti uses NetFoundry link icon with custom path */
.header-netfoundry-link::after {
  background: url('/img/new-window.svg?v=3') no-repeat;
}
[data-theme="dark"] .header-netfoundry-link::after {
  background: url('/img/new-window.svg') no-repeat;
}

/* OpenZiti sidebar menu icon path override */
:root {
  --ifm-menu-link-sublist-icon: url(/img/arrow.svg);
}

/* OpenZiti Wizard modal has local image paths */
.bg-img-1 {
  background: url("/img/bg-img-01.jpg") center center/cover no-repeat;
}

.whitez {
  background: url("/img/whitez.svg");
  background-position: center;
  background-size: 55px;
  background-repeat: no-repeat;
}

@font-face {
  font-family: 'Hand Of Sean';
  src: url('/img/HandOfSeanDemo.eot');
  src: url('/img/HandOfSeanDemo.eot?#iefix') format('embedded-opentype'),
  url('/img/HandOfSeanDemo.woff2') format('woff2'),
  url('/img/HandOfSeanDemo.woff') format('woff'),
  url('/img/HandOfSeanDemo.ttf') format('truetype'),
  url('/img/HandOfSeanDemo.svg#HandOfSeanDemo') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

#Wizardly .openWizard {
  background-image: url(/img/ziggysmalls.svg);
}

.wizardclose {
  background-image: url(/img/close.svg);
}

.local {
  background-image: url("/img/local.png");
}

.builderbutton.docker {
  background-image: url("/img/docker.png");
}

.builderbutton.compose {
  background-image: url("/img/compose.png");
}

.builderbutton.server {
  background-image: url("/img/server.png");
}

/* OpenZiti vertical content height override */
.vertical .content {
  height: 890px;
  overflow-y: auto;
  height: calc(70vh - 134px);
}

.content {
  height: 700px;
}

